<!DOCTYPE html>
<html>
<head>
  <title>BSideShuffle</title>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Syncopate:400,700' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://www.google.com/jsapi"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <link rel="shortcut icon" href="http://33.media.tumblr.com/avatar_cf16254fdf81_128.png">
</head>
<body>
  <header class="navbar navbar-fixed-top" id='header'>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
        <a id="logoHeader"class="navbar-brand" href="/">
          <%= image_tag("navLogo.png", size:"60x60") %> 
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul id="myMenu" class="nav navbar-nav navbar-right">
              <li data-menuanchor="firstPage" class="active"><a href="#welcome">Welcome</a></li>
              <li data-menuanchor="secondPage"><a href="#home">Home</a></li>
              <li data-menuanchor="thirdPage"><a href="#gallery">Gallery</a></li>
              <li data-menuanchor="fourthPage"><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </header>

<%= yield %>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  
</body>
</html>
