<!DOCTYPE html>
<html>
<head>
  <title>BSideShuffle</title>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Syncopate:400,700' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://www.google.com/jsapi"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <link rel="shortcut icon" href="http://33.media.tumblr.com/avatar_cf16254fdf81_128.png">
</head>
<body>
  <header class="navbar navbar-fixed-top" id='header'>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
        <a id="logoHeader"class="navbar-brand" href="/">
          <%= image_tag("navLogo.png", size:"60x60") %> 
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul id="navLinks" class="nav navbar-nav navbar-right">
          <li><a href="/register">Songs</a></li>
          <li><a href="/signin">Artists</a></li>
          <li><a href="/signin">About Us</a></li>
        </ul>
      </div>
    </div>
  </header>
  <button class="pause-play-button">
    Music<br />on/off
  </button>
<%= yield %>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <script>
  
  SC.initialize({
    client_id: "<%= ENV["soundcloud_client_id"] %>"
  });

  var is_playing = false,
    sound;
  SC.stream("/tracks/133312661", function(obj){
    obj.play();
    sound = obj;
    is_playing = true;
  });
  function player(){
    if( sound ) {
      if(is_playing) {
          sound.pause();
          is_playing = false;
      } else {
          sound.play();
          is_playing = true;
      }
    }
  }

  $(".pause-play-button").on("click", function() {
    player();
  });
  </script>
  
</body>
</html>
